* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
}
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.ttf?t=1662977413192") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid .row .left {
  max-width: 250px !important;
  height: 100vh;
  background-color: #4b4b4b;
  padding: 0;
}
.container-fluid .row .left .head {
  position: relative;
}
.container-fluid .row .left .head .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  background-image: url(../image/head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}
.container-fluid .row .left .head .img:hover {
  transform: rotateZ(360deg);
}
.container-fluid .row .left ul.list {
  margin-top: 250px;
}
.container-fluid .row .left ul.list li {
  width: 100%;
  height: 60px;
  list-style: none;
  text-align: center;
  line-height: 60px;
}
.container-fluid .row .left ul.list li a {
  color: white;
  text-decoration: none;
  border: 0;
  font-size: 20px;
}
.container-fluid .row .left ul.list li:hover {
  background-color: #3c3c3c;
}
.container-fluid .row .right {
  height: 100vh;
  overflow-y: scroll;
}
.container-fluid .row .right .header .head {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4b4b4b;
  padding: 50px 0;
}
.container-fluid .row .right .header .head .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  background-image: url(../image/head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
.container-fluid .row .right .header .head .img:hover {
  transform: rotateZ(360deg);
}
.container-fluid .row .right .header ul {
  background-color: #f8bd24;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}
.container-fluid .row .right .header ul li {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid .row .right .header ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.container-fluid .row .right .msg {
  padding: 50px 0;
  background-color: lightgreen;
  background-image: url(../image/bg-1.png);
}
.container-fluid .row .right .msg h2 {
  font-weight: bold;
}
.container-fluid .row .right .msg ul {
  list-style: none;
}
.container-fluid .row .right .msg ul li {
  height: 40px;
  font-size: 16px;
}
.container-fluid .row .right .msg ul li span {
  color: #c40b00;
}
.container-fluid .row .right .skill {
  background-color: #f8bd24;
  padding: 50px 0;
}
.container-fluid .row .right .skill h2 {
  font-weight: bold;
}
.container-fluid .row .right .skill .scroll {
  display: flex;
  justify-content: center;
}
.container-fluid .row .right .skill .scroll ul {
  max-width: 800px;
  min-width: 365px;
  overflow-x: scroll;
  display: flex;
  list-style: none;
}
.container-fluid .row .right .skill .scroll ul li {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 15px;
  box-sizing: border-box;
}
.container-fluid .row .right .skill .scroll ul li .icon {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.container-fluid .row .right .skill .scroll ul li .icon .bg {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.3);
}
.container-fluid .row .right .skill .scroll ul li .icon .bg i {
  font-size: 50px;
}
.container-fluid .row .right .skill .scroll ul li .icon .bg img {
  width: 50px;
  height: 50px;
}
.container-fluid .row .right .skill .scroll ul li h3 {
  font-weight: bold;
}
.container-fluid .row .right .skill .scroll ul li p {
  width: 100%;
  text-align: center;
}
.container-fluid .row .right .demo {
  padding: 30px 0;
  background-image: url(../image/bg-2.png);
}
.container-fluid .row .right .demo h2 {
  font-weight: bold;
}
.container-fluid .row .right .demo h3 {
  font-weight: bold;
}
.container-fluid .row .right .demo a {
  text-decoration: none;
  text-align: center;
}
.container-fluid .row .right .demo a .content img {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.container-fluid .row .right .demo a .content img:hover {
  transform: scale(1.05);
}
.container-fluid .row .right .demo a .content p {
  font-size: 26px;
  margin: 10px 0;
  color: #c40b00;
  transition: all 0.5s;
}
.container-fluid .row .right .demo a .content:hover p {
  color: #ffc670;
}
.container-fluid .row .right .experience {
  padding: 50px 0;
}
.container-fluid .row .right .experience h2 {
  font-weight: bold;
}
.container-fluid .row .right .experience h2 span {
  font-size: 28px;
}
.container-fluid .row .right .experience ul {
  list-style: none;
  margin-left: 16px;
  padding-left: 20px;
  border-left: 2px grey solid;
}
.container-fluid .row .right .experience ul li {
  line-height: 30px;
  font-size: 20px;
  position: relative;
  margin-bottom: 30px;
}
.container-fluid .row .right .experience ul li::before {
  content: "";
  left: -36px;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background: #f8bd24;
  border-radius: 100%;
  transition: transform 0.3s;
}
.container-fluid .row .right .footer {
  background-color: #72655b;
}
.container-fluid .row .right .footer .text {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid .row .right .footer .text p {
  color: white;
  font-size: 20px;
}
