.w {
  width: 1200px;
}
.header-fixed {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}
.header-fixed .w {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-fixed .w ul.nav {
  display: flex;
}
.header-fixed .w ul.nav li {
  margin-left: 20px;
}
.header-fixed .w ul.nav li a {
  color: white;
}
.no1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no1 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.no1 .w {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.no1 .w .content {
  width: 500px;
  height: 300px;
  color: white;
}
.no1 .w .content h1 {
  font-size: 60px;
}
.no1 .w .content p {
  font-size: 20px;
  margin: 20px 0;
}
.no1 .w .content .box {
  width: 500px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.no1 .w .content .box .btn {
  width: 150px;
  height: 60px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.no1 .w .content .box .leftBtn {
  background-color: rgba(0, 0, 0, 0.7);
}
.no1 .w .content .box .rightBtn {
  background-color: white;
  color: black;
  position: relative;
}
.no1 .w .content .box .rightBtn i {
  margin-right: 5px;
}
.no1 .w .content .box .rightBtn .new {
  position: absolute;
  top: -10px;
  right: 0;
  width: 40px;
  height: 15px;
  background-color: #ff5c5c;
  font-size: 5px;
  color: white;
  border-radius: 7px 1px 7px 1px;
}
.no2,
.no3,
.no4,
.no5 {
  position: relative;
  width: 100%;
  height: 100%;
}
.no2 video,
.no3 video,
.no4 video,
.no5 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.no2 .w .text,
.no3 .w .text,
.no4 .w .text,
.no5 .w .text {
  width: 550px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  margin: auto;
  color: white;
  text-align: left;
  opacity: 0;
}
.no2 .w .text h1,
.no3 .w .text h1,
.no4 .w .text h1,
.no5 .w .text h1 {
  font-size: 80px;
}
.no2 .w .text span,
.no3 .w .text span,
.no4 .w .text span,
.no5 .w .text span {
  color: #5e5e5e;
  font-size: 30px;
  font-weight: bold;
}
.no2 .w .text h3,
.no3 .w .text h3,
.no4 .w .text h3,
.no5 .w .text h3 {
  font-size: 50px;
}
.no2 .w .text p,
.no3 .w .text p,
.no4 .w .text p,
.no5 .w .text p {
  font-size: 25px;
  margin: 30px 0;
}
.no2 .w .text button,
.no3 .w .text button,
.no4 .w .text button,
.no5 .w .text button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  background-color: black;
  color: white;
  border: 2px solid #969696;
  border-radius: 30px;
}
.no2 .w ul.footer,
.no3 .w ul.footer,
.no4 .w ul.footer,
.no5 .w ul.footer {
  padding: 25px 0;
  background-color: #131416;
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.no2 .w ul.footer li,
.no3 .w ul.footer li,
.no4 .w ul.footer li,
.no5 .w ul.footer li {
  font-size: 14px;
  color: #494949;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.no2 .w ul.footer li img,
.no3 .w ul.footer li img,
.no4 .w ul.footer li img,
.no5 .w ul.footer li img {
  width: 20px;
  height: 20px;
  text-align: center;
}
/*# sourceMappingURL=./index.css.map */